<div class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href=".#"><b>Margin</b>IQ</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form [formGroup]="valForm" role="form" name="loginForm" novalidate=""
                    (submit)="login($event, valForm.value)">
                    <div class="input-group mb-3">
                        <input id="username" type="email" name="username" class="form-control" placeholder="Email"
                            autocomplete="off" formControlName="username" required="">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                            formControlName="password" required="">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">

                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button [disabled]="!valForm.valid" type="submit" class="btn btn-primary btn-block">Sign
                                In</button>
                        </div>
                        <!-- /.col -->
                    </div>

                </form>


                <p class="mb-1">
                    <a href="#">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="#" class="text-center">Register a new membership</a>
                </p>
                <div *ngIf="error" class="alert alert-danger text-center">{{error}}</div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
</div>