<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Payments</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="" routerLink="/home">Home</a></li>
                    <li class="breadcrumb-item active">Payments</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->



    <div class="row mb-2">
        <div class="col-sm-6">
            <b>Forex Spot</b> | <a href="" routerLink="/home">Forex Swap</a> | <a>Forex Forward</a> | <a>Money
                Market</a>
        </div><!-- /.col -->
        <div class="col-sm-6">

        </div><!-- /.col -->
    </div><!-- /.row -->
</div>
<!-- /.content-header -->